name: "web_app"
mode: "dev"
version: "v0.0.1"
start_time: "2024-12-15"
machine_id: 1
port: 8081
log:
  level: "debug"
  filename: "web_app.log"
  max_size: 200
  max_age: 30
  max_backups: 7
mysql:
  host: "127.0.0.1"
  # host: mysql8
  # port: 3306
  port: 3307
  user: "root"
  password: "root"
  dbname: "go_community"
  max_open_conns: 200
  max_idle_conns: 50
redis:
  host: "127.0.0.1"
  # host: redis507
  port: 6379
  password: ""
  db: 0
  pool_size: 100